---
permalink: "/search-index.json"
eleventyExcludeFromCollections: true
---
[
{% for item in collections.all %}{
  "title": {{ (item.data.title or item.url or "") | dump | safe }},
  "url": {{ (item.url or "") | dump | safe }},
  "description": {{ (item.data.description or "") | dump | safe }}
}{% if not loop.last %},{% endif %}{% endfor %}
]
